<div id="footer" class="row">
    <div class="col-lg-4" id="more-about-the-company">
        <h2>More about the company</h2>
        <p>{% lorem 1 b random %}</p>
    </div>
    <div class="col-lg-4" id="stay-connected">
        <h2>Stay Connected</h2>
        <ul class="list-unstyled">
            <a href="#">
                <li>Twitter</li>
            </a>
            <a href="#">
                <li>Facebook</li>
            </a>
            <a href="#">
                <li>Snapchat</li>
            </a>
        </ul>
    </div>
    <div class="col-lg-4">
        <h2>Contact Information</h2>
    </div>
</div>

<div id="under-footer" class="row">
    <div class="col-lg-6">
        <p>Legal Stuff</p>
    </div>
    <div class="col-lg-6">
        <p>More legal stuff...</p>
    </div>
</div>