<div id="footer" class="row">
    <div class="col-lg-4" id="more-about-the-company">
        <h2>More about the company</h2>
        <p>{% lorem 1 b random %}</p>
    </div>
    <div class="col-lg-4" id="stay-connected">
        <h2>Stay Connected</h2>
        <div class="d-flex justify-content-center" style="height: inherit; margin-top: 5%; margin-bottom: 5%;">
            <ul class="list-unstyled">
                <a href="#">
                    <li>Twitter</li>
                </a>
                <a href="#">
                    <li>Facebook</li>
                </a>
                <a href="#">
                    <li>Snapchat</li>
                </a>
            </ul>
        </div>
        
    </div>
    <div class="col-lg-4" id="contact-info">
        <h2>Contact Information</h2>
        <ul class="list-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-white btn-lg">
                        <i class="fas fa-phone"></i>
                    </a>
                    571-210-0588 <span><i>Call or text</i></span>
                </li>
                <li class="list-group-item">
                    <a href="#" class="text-white btn-lg">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    john.doe@gmail.com
                </li>
            </ul>
        </ul>
    </div>
</div>

<div id="under-footer" class="row">
    <div class="col-lg-6">
        <p>Legal Stuff</p>
    </div>
    <div class="col-lg-6 text-center">
        <p>More legal stuff...</p>
    </div>
</div>