<nav class="navbar navbar-expand-md main-nav" id="nav">
    <div class="container-fluid">
        <a href="/" class="navbar-brand p-3" id="nav-brand">Kenny's Mobile Detail</a>
    </div>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a href="/" class="nav-link middle-hover">Home</a>
        </li>
        <li class="nav-item">
            <a href="../gallery/" class="nav-link middle-hover">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link middle-hover">Services</a>
        </li>
        <li class="nav-item">
            <a href="../contact/" class="nav-link middle-hover">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link middle-hover">Quote</a>
        </li>
    </ul>
    <div id="nav-bars-wrapper">
        <i class="fas fa-bars" id="nav-bars"></i>
    </div>
</nav>
