<div id="our-goal">
    <h2>Our Goal</h2>
    <i class="fas fa-bullseye" id="our-goal-icon"></i>
    <p>At Kenny's Mobile Detailing our goal is to provide the best automotive detailing services that exceeds your
        expectation. We aim to educate you on the procedures taken to reach your desired needs. We focus on giving
        your
        detail a personal touch over a mechanized one. </p>
</div>
<div class="row" id="my-services">
    <h2 id="my-services-header">My Services</h2>
    <i class="fas fa-wrench" id="my-services-icon"></i>
    <div class="col-lg-4">
        <h2>Stage 1 Detail - Exterior</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi</p>
        <a href="">Learn More</a>
    </div>
    <div class="col-lg-4">
        <h2>Stage 2 Detail - Interior</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi</p>
        <a href="">Learn More</a>
    </div>
    <div class="col-lg-4">
        <h2>Winter Preparation Package</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi</p>
        <a href="">Learn More</a>
    </div>
</div>