<div id="services-grid">
    <div class="row" style="margin: 0;padding: 0; width: 100%">
        <div class="col-lg-6 services-grid-square">
            <div class="center-vert-horiz">
                <a href="#" id="stage-1" onclick="openModal(this.id)">Testing</a>
            </div>
        </div>
        <div class="col-lg-6 services-grid-square">
            <div class="center-vert-horiz">
                <a href="#" id="stage-2" onclick="openModal(this.id)">Testing</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0;padding: 0; width: 100%">
        <div class="col-lg-6 services-grid-square">
            <div class="center-vert-horiz">
                <a href="#" id="stage-3" onclick="openModal(this.id)">Testing</a>
            </div>
        </div>
        <div class="col-lg-6 services-grid-square">
            <div class="center-vert-horiz">
                <a href="#" id="wint_prot" onclick="openModal(this.id)">Testing</a>
            </div>
        </div>
    </div>
</div>

<div id="services-modal" class="center-vert-horiz">
    <h2></h2>
    <div></div>
</div>  
