<head>
    {% load static %}
</head>
<div id="gallery-content">

    <div class="btn-group">
        <button type="button" class="btn btn-secondary">
            <a href="?view_type=all">All</a>
        </button>
        <button type="button" class="btn btn-secondary">
            <a href="?view_type=stage_1">Stage 1 Details</a>
        </button>
         <button type="button" class="btn btn-secondary">
            <a href="?view_type=stage_2">Stage 2 Details</a>
        </button>
         <button type="button" class="btn btn-secondary">
            <a href="?view_type=snow_foamed">Snow Foamed</a>
        </button>
         <button type="button" class="btn btn-secondary">
            <a href="?view_type=interior_detail">Interior Details</a>
        </button>
         <button type="button" class="btn btn-secondary">
            <a href="?view_type=other">Other</a>
        </button>
    </div>

    {% for image in gallery %}

        {% if forloop.counter|divisibleby:3 or forloop.first %}
            <h1>{{forloop.counter}}</h1>
            <div class="row">
        {% endif %}

        <div class="col-lg-6">
            <div class="gallery-photo-wrapper">
                <img src="../../media/{{image.photo}}" class="gallery-photo">
            </div>
            <h2>{{ image.car_name }}</h2>
        </div>

        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}
        
    {% endfor %}

</div>